*.pyc
__pycache__/
.env
.venv
venv/
.cache/
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage.*
nosetests.xml
coverage.xml
CLEAN_ARCHITECTURE_REPORT.md
DEBUGGING.md
mypy*
TESTS_README.md
.mypy_cache/
